@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,600;1,600&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,800;1,800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@700;900&family=Teko:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body>header {
    background-color: rgb(63, 46, 14);
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    height: 12vh;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: .5px .5px .5px .5px;
}

header>h1 {
    font-family: Teko, Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: white;
    margin-left: 6vw;
    text-transform: uppercase;
}


.menu {
    height: 100%;
    width: 40%;
    flex-flow: row wrap;
    margin-right: 30px;
}

.navegar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.navegar>a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    flex-flow: row nowrap;
    font-size: 20px;
    color: white;
    height: 100%;
    width: 25%;
}


.navegar>a:hover {
    background-color: rgb(97, 68, 15);
    transition-duration: .7s;
    color: white;
}

main {
    width: 100%;
    padding-top: 150px;
}

main>h2 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 21px;
    font-weight: bolder;
}

#oi{
   padding-top: 60px;
}

main>figure {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

main>figure>img {
    width: 60%;
}

main>p {
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 17.4px;
    text-align: justify;
    text-indent: 20px;
    line-height: 27px;
    padding-left: 22px;
    padding-right: 22px;
}

.linha-personalizada {
    border: 0; 
    height: 1.5px; 
    background-color: #333; 
    width: 90%; 
    margin: 20px auto; 
  }

footer {
    height: 220px;
    background-color: lightgray;
}


.p1 {
    padding-top: 60px;
    text-indent: 150px;
    font-size: 16px;
}

.p2 {
    text-indent: 150px;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.div4>a>img {
    padding-top: 30px;
    width: 35px;
    padding-right: 10px;
}

.div4 {
    margin-left: 150px;
}